<!DOCTYPE html>
<html>
    <head>
        <title>Wolf</title>
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
          <link href="https://cdnjs.cloudflare.com/ajax/libs/csshake/1.5.2/csshake.css"/>
          <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300" rel="stylesheet">
          <style>
              body {
                background-image: url(https://static.rootsrated.com/image/upload/s--bxVqhnid--/t_rr_large_traditional/m2y2jeizxpta2ueimhrr.jpg);
                 font-family: 'Yanone Kaffeesatz', sans-serif;
              }

              h2{
                text-align:center;
              }
              
              #wolves {
                padding: 20px;
                
                
              }
              .rainbow {
                 /* Chrome, Safari, Opera */
                -webkit-animation: rainbow 1s infinite; 
                
                /* Internet Explorer */
                -ms-animation: rainbow 1s infinite;
                
                /* Standar Syntax */
                animation: rainbow 1s infinite; 
              }
              
              /* Chrome, Safari, Opera */
              @-webkit-keyframes rainbow{
              	20%{color: red;}
              	40%{color: yellow;}
              	60%{color: green;}
              	80%{color: blue;}
              	100%{color: orange;}	
              }
              /* Internet Explorer */
              @-ms-keyframes rainbow{
              	20%{color: red;}
              	40%{color: yellow;}
              	60%{color: green;}
              	80%{color: blue;}
              	100%{color: orange;}	
              }
              
              /* Standar Syntax */
              @keyframes rainbow{
              	20%{color: red;}
              	40%{color: yellow;}
              	60%{color: green;}
              	80%{color: blue;}
              	100%{color: orange;}	
              }
              
          </style>
    </head>
    
    <body>
       <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <div class="col s12 m7">
    <h2 class="rainbow">You are a Wolf!!!</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img id = "wolves" src="http://static.wixstatic.com/media/e8106d_97321a16e303486baf0239fcc90516cf.jpg_srz_324_266_85_22_0.50_1.20_0.00_jpg_srz">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <ul>
            <li>Wolves like to be called "eccentric"</li>
            <li>Wolves have their own way of doing things</li>
            <li>Wolves value time alone and space</li>
            <li>Wolves don't like having their pace disrupted</li>
            <li>Wolves don't say much</li>
            <li>Wolves are good at taking charge</li>
            <li>Wolves have an amazing chronological memory</li>
            <li>Wolves don't mind performing simple tasks</li>
            <li>For some reason, Wolves love to drive</li>
            <li>Wolves like to watch things in motion</li>
            <li>The wolf's destined partner is the raccon</li>
        </ul>
        </div>
        <div class="card-action">
          <a href="https://www.youtube.com/watch?v=5OWOQF3dWi0">Click here to see a very, very happy wolf.</a>
        </div>
      </div>
    </div>
  </div>
    </body>
</html>