<!DOCTYPE html>
<html>
    <head>
        <title>Lion</title>
          <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
          <link href="https://cdnjs.cloudflare.com/ajax/libs/csshake/1.5.2/csshake.css"/>
          <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300" rel="stylesheet">
          <style>
              body {
                background-image: url(http://www.africa-wildlife-detective.com/images/lion-cubs-800-e.jpg);
                font-family: 'Yanone Kaffeesatz', sans-serif;
              }

              h2{
                text-align:center;
              }
              #lionlicker {
                  padding:20px;
              }
              
              .rainbow {
                 /* Chrome, Safari, Opera */
                -webkit-animation: rainbow 1s infinite; 
                
                /* Internet Explorer */
                -ms-animation: rainbow 1s infinite;
                
                /* Standar Syntax */
                animation: rainbow 1s infinite; 
              }
              
              /* Chrome, Safari, Opera */
              @-webkit-keyframes rainbow{
              	20%{color: red;}
              	40%{color: yellow;}
              	60%{color: green;}
              	80%{color: blue;}
              	100%{color: orange;}	
              }
              /* Internet Explorer */
              @-ms-keyframes rainbow{
              	20%{color: red;}
              	40%{color: yellow;}
              	60%{color: green;}
              	80%{color: blue;}
              	100%{color: orange;}	
              }
              
              /* Standard Syntax */
              @keyframes rainbow{
              	20%{color: red;}
              	40%{color: yellow;}
              	60%{color: green;}
              	80%{color: blue;}
              	100%{color: orange;}	
              }
              
          </style>
    </head>
    
    <body>
        <div class="col s12 m7">
           <h2 class="rainbow">You are a Lion!!!</h2>
           <div class="card horizontal">
              <div class="card-image">
                <img id="lionlicker" src="https://www.thesun.co.uk/wp-content/uploads/2017/07/nintchdbpict000293946848.jpg?strip=all&w=960&quality=100">
           </div>
           <div class="card-stacked">
            <div class="card-content">
               <ul>
                <li>Lions love special treatment and praise.</li>
                <li>Lions say things like "Awesome!" and "Definitely!"</li>
                <li>Lions don't complain but are hard on others.</li>
                <li>Lions are perfectionists.</li>
                <li>Lions aren't very good with numbers.</li>
                <li>Lions' mortal enemies are a lack of sleep and an empty stomach.</li>
                <li>Lions own expensive things.</li>
                <li>Lions love silly puns.</li>
                <li>Lions are sometimes spoiled kids.</li>
                <li>Lions are outwardly impressive; but their rooms are in shambles.</li>
                <li>A lion's destined partner is a tiger.</li>
               </ul>
            </div>
            <div class="card-action">
              <a href="https://www.youtube.com/watch?v=kmSvR5VpEKQ">Click here to see a very, very happy lion.</a>
            </div>
           </div>
        </div>
    </body>
</html>