<!DOCTYPE html>
<html>
    <head>
        <title>Panther</title>
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
          <link href="https://cdnjs.cloudflare.com/ajax/libs/csshake/1.5.2/csshake.css"/>   
          <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300" rel="stylesheet">
          <style>
             .card-stacked {
              }
              body {
                background-image: url(http://1.bp.blogspot.com/_O40K9XFKKso/TOPUCQaznbI/AAAAAAAAAR4/Al3gqRHR6cw/s1600/P5Swamp.JPG);
                font-family: 'Yanone Kaffeesatz', sans-serif;
              }

              h2{
                text-align:center;
              }
              #panthershirt {
                  padding:20px;
              }
              .rainbow {
                 /* Chrome, Safari, Opera */
                -webkit-animation: rainbow 1s infinite; 
                
                /* Internet Explorer */
                -ms-animation: rainbow 1s infinite;
                
                /* Standar Syntax */
                animation: rainbow 1s infinite; 
              }
              
              /* Chrome, Safari, Opera */
              @-webkit-keyframes rainbow{
              	20%{color: red;}
              	40%{color: yellow;}
              	60%{color: green;}
              	80%{color: blue;}
              	100%{color: orange;}	
              }
              /* Internet Explorer */
              @-ms-keyframes rainbow{
              	20%{color: red;}
              	40%{color: yellow;}
              	60%{color: green;}
              	80%{color: blue;}
              	100%{color: orange;}	
              }
              
              /* Standar Syntax */
              @keyframes rainbow{
              	20%{color: red;}
              	40%{color: yellow;}
              	60%{color: green;}
              	80%{color: blue;}
              	100%{color: orange;}	
              }
              
          </style>
    </head>
    
    <body>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
        <div class="col s12 m7">
           <h2 class="rainbow">You are a Panther!!!</h2>
           <div class="card horizontal">
              <div class="card-image">
                <img id="panthershirt"src="https://www.zooportraits.com/wp-content/uploads/2017/03/Black-Panther-Panthera-Pardus.jpg">
           </div>
           <div class="card-stacked">
            <div class="card-content">
               <ul>
                <li>Panthers are uncompromising with honor and pride</li>
                <li>Panthers like to be the center</li>
                <li>Panthers want to talk about themselves</li>
                <li>Panthers like new things</li>
                <li>Panthers are smart dressers</li>
                <li>Panthers like to change jobs</li>
                <li>Panthers wear their feelings on their sleeve</li>
                <li>Panthers are easily hurt</li>
                <li>Panthers have a strong sense of justice</li>
                <li>Panthers don't want to retire</li>
                <li>The panther's destined partner is the Koala</li>
               </ul>
            </div>
            <div class="card-action">
              <a href="https://www.youtube.com/watch?v=X4N936oDeWI">Click here to see a very, very sneaky panther.</a>
            </div>
           </div>
        </div>
    </body>
</html>