<!DOCTYPE html>
<html>
    <head>
        <title>Sheep</title>
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
          <link href="https://cdnjs.cloudflare.com/ajax/libs/csshake/1.5.2/csshake.css"/>    
          <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300" rel="stylesheet">
          <style>
             .card-stacked {
              }
              body {
                background-image: url(https://static.pexels.com/photos/33359/grass-meadow-green-forest.jpg);
                font-family: 'Yanone Kaffeesatz', sans-serif;
              }

              h2{
                text-align:center;
              }
              #panthershirt {
                  padding:20px;
              }
              .rainbow {
                 /* Chrome, Safari, Opera */
                -webkit-animation: rainbow 1s infinite; 
                
                /* Internet Explorer */
                -ms-animation: rainbow 1s infinite;
                
                /* Standar Syntax */
                animation: rainbow 1s infinite; 
              }
              
              /* Chrome, Safari, Opera */
              @-webkit-keyframes rainbow{
              	20%{color: red;}
              	40%{color: yellow;}
              	60%{color: green;}
              	80%{color: blue;}
              	100%{color: orange;}	
              }
              /* Internet Explorer */
              @-ms-keyframes rainbow{
              	20%{color: red;}
              	40%{color: yellow;}
              	60%{color: green;}
              	80%{color: blue;}
              	100%{color: orange;}	
              }
              
              /* Standar Syntax */
              @keyframes rainbow{
              	20%{color: red;}
              	40%{color: yellow;}
              	60%{color: green;}
              	80%{color: blue;}
              	100%{color: orange;}	
              }
              
          </style>
    </head>
    
    <body>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
        <div class="col s12 m7">
           <h2 class="rainbow">You are a Sheep!!!</h2>
           <div class="card horizontal">
              <div class="card-image">
                <img id="panthershirt"src="http://kindersay.com/files/images/sheep.png">
           </div>
           <div class="card-stacked">
            <div class="card-content">
               <ul>
                <li>Sheep are part of the flock and don't like to be alone.</li>
                <li>Sheep are always coolheaded and objective.</li>
                <li>Sheep love to be asked for advice.</li>
                <li>Sheep don't like people who draw attention.</li>
                <li>Sheep are adept at making connections and gathering information.</li>
                <li>Sheep keep appointments and expect the same of others.</li>
                <li>Sheep can be inflexible and stubborn.</li>
                <li>Sheep hide their true selves.</li>
                <li>Sheep want to complain and grumble.</li>
                <li>Sheep live for the greater good.</li>
                <li>The sheep's destined partner is the monkey.</li>
               </ul>
            </div>
            <div class="card-action">
              <a href="https://www.youtube.com/watch?v=niTByu7Z6TA">Click here to see a very, very cute lamb.</a>
            </div>
           </div>
        </div>
    </body>
</html>