<!DOCTYPE html>
<html>
    <head>
        <title>Cheetah</title>
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
          <link href="https://cdnjs.cloudflare.com/ajax/libs/csshake/1.5.2/csshake.css"/> 
          <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300" rel="stylesheet">
          <style>
              body {
                background-image: url(http://www.capecheetah.org/wp-content/uploads/2015/10/nushka.jpg);
                font-family: 'Yanone Kaffeesatz', sans-serif;
                
              }

              h2{
                text-align:center;
              }
              #panthershirt {
                  padding:20px;
              }
              .rainbow {
                 /* Chrome, Safari, Opera */
                -webkit-animation: rainbow 1s infinite; 
                
                /* Internet Explorer */
                -ms-animation: rainbow 1s infinite;
                
                /* Standar Syntax */
                animation: rainbow 1s infinite; 
              }
              
              /* Chrome, Safari, Opera */
              @-webkit-keyframes rainbow{
              	20%{color: red;}
              	40%{color: yellow;}
              	60%{color: green;}
              	80%{color: blue;}
              	100%{color: orange;}	
              }
              /* Internet Explorer */
              @-ms-keyframes rainbow{
              	20%{color: red;}
              	40%{color: yellow;}
              	60%{color: green;}
              	80%{color: blue;}
              	100%{color: orange;}	
              }
              
              /* Standar Syntax */
              @keyframes rainbow{
              	20%{color: red;}
              	40%{color: yellow;}
              	60%{color: green;}
              	80%{color: blue;}
              	100%{color: orange;}	
              }
              
          </style>
    </head>
    
    <body>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
        <div class="col s12 m7">
           <h2 class="rainbow">You are a Cheetah!!!</h2>
           <div class="card horizontal">
              <div class="card-image">
                <img id="panthershirt"src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Cheetah_portrait_Whipsnade_Zoo.jpg">
           </div>
           <div class="card-stacked">
            <div class="card-content">
               <ul>
                <li>Cheetahs are challengers who don't know when to quit.</li>
                <li>Cheetahs like to win outright.</li>
                <li>Cheetahs are extremely positive thinkers.</li>
                <li>Cheetahs want to succeed more than most.</li>
                <li>Cheetahs have a lot of pride.</li>
                <li>Cheetahs are curious and like to try new things.</li>
                <li>Cheetahs talk big and act big.</li>
                <li>Cheetahs like to look cool in front of others.</li>
                <li>Cheetahs jump to conclusions but are well-meaning.</li>
                <li>For some reason, a lot of people with the Cheetah character like barbecued beef.</li>
                <li>The Cheetah's destined partner is the Fawn.</li>
               </ul>
            </div>
            <div class="card-action">
              <a href="https://www.youtube.com/watch?v=bvS2SlJuLp8">Click here to see a very, very cute cheetah.</a>
            </div>
           </div>
        </div>
    </body>
</html>