<!DOCTYPE html>
<html>
    <head>
        <title>Pegasus</title>
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
          <link href="https://cdnjs.cloudflare.com/ajax/libs/csshake/1.5.2/csshake.css"/>      
          <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300" rel="stylesheet">
          <style>
             .card-stacked {
              }
              body {
                background-image: url(https://vignette2.wikia.nocookie.net/mint524/images/d/d7/Sky.jpg/revision/latest?cb=20160706152654);
                font-family: 'Yanone Kaffeesatz', sans-serif;
              }

              h2{
                text-align:center;
              }
              #panthershirt {
                  padding:20px;
              }
              .rainbow {
                 /* Chrome, Safari, Opera */
                -webkit-animation: rainbow 1s infinite; 
                
                /* Internet Explorer */
                -ms-animation: rainbow 1s infinite;
                
                /* Standar Syntax */
                animation: rainbow 1s infinite; 
              }
              
              /* Chrome, Safari, Opera */
              @-webkit-keyframes rainbow{
              	20%{color: red;}
              	40%{color: yellow;}
              	60%{color: green;}
              	80%{color: blue;}
              	100%{color: orange;}	
              }
              /* Internet Explorer */
              @-ms-keyframes rainbow{
              	20%{color: red;}
              	40%{color: yellow;}
              	60%{color: green;}
              	80%{color: blue;}
              	100%{color: orange;}	
              }
              
              /* Standar Syntax */
              @keyframes rainbow{
              	20%{color: red;}
              	40%{color: yellow;}
              	60%{color: green;}
              	80%{color: blue;}
              	100%{color: orange;}	
              }
              
          </style>
    </head>
    
    <body>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
        <div class="col s12 m7">
           <h2 class="rainbow">You are a Pegasus!!!</h2>
           <div class="card horizontal">
              <div class="card-image">
                <img id="panthershirt"src="https://mrpsmythopedia.wikispaces.com/file/view/pegasus-B.png/566453127/537x402/pegasus-B.png">
           </div>
           <div class="card-stacked">
            <div class="card-content">
               <ul>
                <li>Pegasi hate to be restricted.</li>
                <li>Pegasi have ingenious intuition.</li>
                <li>Pegasi are unabashedly temperamental.</li>
                <li>Pegasi can be lazy.</li>
                <li>Pegasi nod but they aren't listening.</li>
                <li>Pegasi are strange.</li>
                <li>Pegasi are incredibly true to their own feelings.</li>
                <li>Pegasi love extravagance.</li>
                <li>Pegasi have trouble shaking off bad moods.</li>
                <li>Pegasi are hard to figure out.</li>
                <li>The Pegasus's destined partner is the Raccon.</li>
               </ul>
            </div>
            <div class="card-action">
              <a href="https://www.youtube.com/watch?v=M1AiUxS2kRU">Click here to see supposedly real pegasi.</a>
            </div>
           </div>
        </div>
    </body>
</html>