<html>
    <head>
        <title>Fawn</title>
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
          <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300" rel="stylesheet">
          <style>
             body {
                background-image: url(https://vignette3.wikia.nocookie.net/five-nights-at-warios-fangame/images/f/fe/In-the-forest.jpg/revision/latest?cb=20170323091557);
                font-family: 'Yanone Kaffeesatz', sans-serif;
              }

              h2{
                text-align:center;
              }
              
              #fawn {
                padding: 20px;
              }
              .rainbow {
                 /* Chrome, Safari, Opera */
                -webkit-animation: rainbow 1s infinite; 
                
                /* Internet Explorer */
                -ms-animation: rainbow 1s infinite;
                
                /* Standar Syntax */
                animation: rainbow 1s infinite; 
              }
              
              /* Chrome, Safari, Opera */
              @-webkit-keyframes rainbow{
              	20%{color: red;}
              	40%{color: yellow;}
              	60%{color: green;}
              	80%{color: blue;}
              	100%{color: orange;}	
              }
              /* Internet Explorer */
              @-ms-keyframes rainbow{
              	20%{color: red;}
              	40%{color: yellow;}
              	60%{color: green;}
              	80%{color: blue;}
              	100%{color: orange;}	
              }
              
              /* Standar Syntax */
              @keyframes rainbow{
              	20%{color: red;}
              	40%{color: yellow;}
              	60%{color: green;}
              	80%{color: blue;}
              	100%{color: orange;}	
              }
          </style>

    </head>
    
    <body>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
        <div class="col s12 m7">
    <h2 class="rainbow">You are a Fawn!!!</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img id = "fawn" src="https://s-media-cache-ak0.pinimg.com/originals/07/b7/0f/07b70f46f17470f8f8f6133c8bfa3322.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
        <ul>
            <li>Fawns are extremely cautious at first meeting</li>
            <li>Fawns are full of curiosity</li>
            <li>Fawns get selfish with their friends</li>
            <li>Fawns want to be liked, so they try to please</li>
            <li>Fawns are ill at ease if they can't confirm that someone likes them</li>
            <li>Fawns are not good at bargaining</li>
            <li>Fawns' sphere of activity are limited</li>
            <li>Fawns are good teachers and cultivators</li>
            <li>Fawns are dangerous when they lose control</li>
            <li>Fawns watch out for food additives</li>
            <li>The Fawn's destined partner is the Cheetah</li>
        </ul>
        </div>
    <div class="card-action">
    <a href="https://www.youtube.com/watch?v=2xjI_F_SU3g">Click here to see a cute fawn.</a>
</div>
</div>
</div>
</body>
</html>