<html>
    <head>
        <title>Elephant</title>
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
          <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300" rel="stylesheet">
          <style>
          body {
                background-image: url(https://static.pexels.com/photos/33359/grass-meadow-green-forest.jpg);
                font-family: 'Yanone Kaffeesatz', sans-serif;
              }

              h2{
                text-align:center;
              }
              
              #elephant {
                padding: 20px;
              }
              .rainbow {
                 /* Chrome, Safari, Opera */
                -webkit-animation: rainbow 1s infinite; 
                
                /* Internet Explorer */
                -ms-animation: rainbow 1s infinite;
                
                /* Standar Syntax */
                animation: rainbow 1s infinite; 
              }
              
              /* Chrome, Safari, Opera */
              @-webkit-keyframes rainbow{
              	20%{color: red;}
              	40%{color: yellow;}
              	60%{color: green;}
              	80%{color: blue;}
              	100%{color: orange;}	
              }
              /* Internet Explorer */
              @-ms-keyframes rainbow{
              	20%{color: red;}
              	40%{color: yellow;}
              	60%{color: green;}
              	80%{color: blue;}
              	100%{color: orange;}	
              }
              
              /* Standar Syntax */
              @keyframes rainbow{
              	20%{color: red;}
              	40%{color: yellow;}
              	60%{color: green;}
              	80%{color: blue;}
              	100%{color: orange;}	
              }
          </style>
          
    </head>
    
    <body>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
        <h2 class="rainbow">You are an Elephant!!!</h2>
        <div class="card horizontal">
            <div class="card-image">
                <img id = "elephant" src="https://upload.wikimedia.org/wikipedia/commons/3/37/African_Bush_Elephant.jpg">
            </div>
        <div class="card-stacked">
            <div class="card-content">
                <ul>
                <li>Once elephants start something, they see it through to the end.</li>
                <li>Elephants always want to apply themselves to something.</li>
                <li>Elephants like to work inconspicuously.</li>
                <li>Elephants are worriers, despite appearances to the contrary.</li>
                <li>Elephants don't listen to what others say.</li>
                <li>Elephants are scariest when they lose control.</li>
                <li>Elephants can say some harsh things.</li>
                <li>Elephants yield to power.</li>
                <li>Elephants are good consensus builders.</li>
                <li>Elephants will go ahead and take risks.</li>
                <li>The Elephant's destined partner is the Wolf.</li>
                </ul>
                   </div>
        <div class="card-action">
            <a href="https://www.youtube.com/watch?v=24pU7ih2v9U">Click here to see a cute elephant.</a>
        </div>
    </div>
</div>
</body>
</html>