<html>
    <head>
        <title>Racoon</title>
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
          <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300" rel="stylesheet">
          <style>
             body {
                background-image: url(http://www.cruiselawnews.com/uploads/image/Garbage%20Bags.jpg);
                font-family: 'Yanone Kaffeesatz', sans-serif;
              }

              h2{
                text-align:center;
              }
              
              #raccoon {
                padding: 20px;
              }
              .rainbow {
                 /* Chrome, Safari, Opera */
                -webkit-animation: rainbow 1s infinite; 
                
                /* Internet Explorer */
                -ms-animation: rainbow 1s infinite;
                
                /* Standar Syntax */
                animation: rainbow 1s infinite; 
              }
              
              /* Chrome, Safari, Opera */
              @-webkit-keyframes rainbow{
              	20%{color: red;}
              	40%{color: yellow;}
              	60%{color: green;}
              	80%{color: blue;}
              	100%{color: orange;}	
              }
              /* Internet Explorer */
              @-ms-keyframes rainbow{
              	20%{color: red;}
              	40%{color: yellow;}
              	60%{color: green;}
              	80%{color: blue;}
              	100%{color: orange;}	
              }
              
              /* Standar Syntax */
              @keyframes rainbow{
              	20%{color: red;}
              	40%{color: yellow;}
              	60%{color: green;}
              	80%{color: blue;}
              	100%{color: orange;}	
              }
          </style>
          
    </head>
    
    <body>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
        <h2 class="rainbow">You are a Raccoon!!!</h2>
        <div class="card horizontal">
            <div class="card-image">
                <img id = "raccoon" src="http://elelur.com/data_images/mammals/raccoon/raccoon-01.jpg">
            </div>
        <div class="card-stacked">
            <div class="card-content">
                <ul>
                    <li>Raccoons value experience and results</li>
                    <li>Raccoons have an excellent ability to passively absorb</li>
                    <li>Raccoons are good at sharing roles</li>
                    <li>Raccoons say what you want to hear</li>
                    <li>Older people like Raccoons</li>
                    <li>Raccoons takes other people's stories and make them their own</li>
                    <li>Raccoons are regular customers wherever delicious things are available</li>
                    <li>Raccoons are thought to be irresponsible</li>
                    <li>Raccoons have unwarranted confidence</li>
                    <li>Raccoons have a bit of natural spaciness in them</li>
                    <li>The Raccon's destined partner is the Pegasus</li>
                </ul>
            </div>
        <div class="card-action">
            <a href="https://www.youtube.com/watch?v=hHN-f6xTzsY">Click here to see a raccoon's demise.</a>
        </div>
    </div>
</div>
</body>
</html>