<!DOCTYPE html>
<html>
    <head>
        <title>Koala</title>
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
          <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300" rel="stylesheet">
          <style>
             body {
                background-image: url(https://aromaticstudies.com/main/wp-content/uploads/2013/01/Eucalyptus-globulus2.jpg);
                font-family: 'Yanone Kaffeesatz', sans-serif;
              }

              h2{
                text-align:center;
              }
              
              #koala {
                padding: 20px;
              }
              .rainbow {
                 /* Chrome, Safari, Opera */
                -webkit-animation: rainbow 1s infinite; 
                
                /* Internet Explorer */
                -ms-animation: rainbow 1s infinite;
                
                /* Standar Syntax */
                animation: rainbow 1s infinite; 
              }
              
              /* Chrome, Safari, Opera */
              @-webkit-keyframes rainbow{
              	20%{color: red;}
              	40%{color: yellow;}
              	60%{color: green;}
              	80%{color: blue;}
              	100%{color: orange;}	
              }
              /* Internet Explorer */
              @-ms-keyframes rainbow{
              	20%{color: red;}
              	40%{color: yellow;}
              	60%{color: green;}
              	80%{color: blue;}
              	100%{color: orange;}	
              }
              
              /* Standar Syntax */
              @keyframes rainbow{
              	20%{color: red;}
              	40%{color: yellow;}
              	60%{color: green;}
              	80%{color: blue;}
              	100%{color: orange;}	
              }
          </style>
          
    </head>
    
    <body>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
        <h2 class="rainbow">You are a Koala!!!</h2>
        <div class="card horizontal">
            <div class="card-image">
                <img id = "koala" src="https://media1.britannica.com/eb-media/26/162626-004-C076EDBD.jpg">
            </div>
        <div class="card-stacked">
            <div class="card-content">
                <ul>
                    <li>Koalas need time to space out</li>
                    <li>Koalas can be the life of the party</li>
                    <li>Koalas base a decision on whether or not it will be fun</li>
                    <li>Koalas love warm places</li>
                    <li>Koalas might be calculating</li>
                    <li>Koalas are good at playing tricks and not getting caught</li>
                    <li>Koalas are the master of excuses</li>
                    <li>Koalas are suspicious</li>
                    <li>Koalas won't enter competitions they will lose</li>
                    <li>Koalas are oddly romantic</li>
                    <li>The Koala's destined partner is the Panther</li>
                </ul>
                </div>
        <div class="card-action">
            <a href="https://www.youtube.com/watch?v=djK_ucSYpaw">Click here to see a koala fight.</a>
        </div>
    </div>
</div>
</body>
</html>