<html>
    <head>
        <title>=Tiger</title>
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
          <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300" rel="stylesheet">
          <style>
             body {
                background-image: url(http://az616578.vo.msecnd.net/files/2016/10/11/636117476021220395-1275565435_Jungle-Photos.jpg);
                font-family: 'Yanone Kaffeesatz', sans-serif;
              }

              h2{
                text-align:center;
              }
              
              #tiger {
                padding: 20px;
              }
              .rainbow {
                 /* Chrome, Safari, Opera */
                -webkit-animation: rainbow 1s infinite; 
                
                /* Internet Explorer */
                -ms-animation: rainbow 1s infinite;
                
                /* Standar Syntax */
                animation: rainbow 1s infinite; 
              }
              
              /* Chrome, Safari, Opera */
              @-webkit-keyframes rainbow{
              	20%{color: red;}
              	40%{color: yellow;}
              	60%{color: green;}
              	80%{color: blue;}
              	100%{color: orange;}	
              }
              /* Internet Explorer */
              @-ms-keyframes rainbow{
              	20%{color: red;}
              	40%{color: yellow;}
              	60%{color: green;}
              	80%{color: blue;}
              	100%{color: orange;}	
              }
              
              /* Standar Syntax */
              @keyframes rainbow{
              	20%{color: red;}
              	40%{color: yellow;}
              	60%{color: green;}
              	80%{color: blue;}
              	100%{color: orange;}	
              }
          </style>
    </head>

    <body>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
        <h2 class="rainbow">You are a Tiger!!!</h2>
        <div class="card horizontal">
            <div class="card-image">
                <img id = "Tiger" src="http://livedoor.blogimg.jp/tuburaya090/imgs/8/1/81663dca.jpg">
            </div>
        <div class="card-stacked">
            <div class="card-content">
                <ul>
                    <li>Tigers have a sense of balance and see the whole picture</li>
                    <li>Tigers are always willing to help</li>
                    <li>Tigers are always working</li>
                    <li>Tigers like to rearrange the room</li>
                    <li>Tigers have a calm and composed air about them</li>
                    <li>Tigers will never give up as long as there is a possiblilty of success</li>
                    <li>Tigers sometimes uses harsh words</li>
                    <li>Tigers are Jacks of all trades, masters of none</li>
                    <li>Tigers always assume they are right</li>
                    <li>Tigers will succeed as long as they try</li>
                </ul>
            </div>
        <div class="card-action">
            <a href="https://www.youtube.com/watch?v=DfHARgviUzQ">Click here to see a baby tiger go swimming.</a>
        </div>
      </div>
     </div>
    </body>
</html>