<!DOCTYPE html>
<html>

<head>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300" rel="stylesheet">
       <title>WHAT ANIMAL ARE YOU?</title>
       <style>
           h1 {
               color:white;
           }
           p {
               padding: 10px;
           }
          body {
               font-family: 'Yanone Kaffeesatz', sans-serif;
               text-align: center;
               background-color: black;
          }
          .card-content {
              background-color: white;
          }
       </style>
</head>

<body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
    <h1>WHAT ANIMAL ARE YOU?</h1>
     <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
            <form method="POST" action="/">
                <p>Tell us what your birth month is:</p>
                <input type="radio" name="month" value="1"> January<br>
                <input type="radio" name="month" value="2"> February<br>
                <input type="radio" name="month" value="3"> March<br>
                <input type="radio" name="month" value="4"> April<br>
                <input type="radio" name="month" value="5"> May<br>
                <input type="radio" name="month" value="6"> June<br>
                <input type="radio" name="month" value="7"> July<br>
                <input type="radio" name="month" value="8"> August<br>
                <input type="radio" name="month" value="9"> September<br>
                <input type="radio" name="month" value="10"> October<br>
                <input type="radio" name="month" value="11"> November<br>
                <input type="radio" name="month" value="12"> December<br>
            
            <p>Put in your birth day:</p>
                <select class="browser-default">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1" name="day">1st</option>
                    <option value="2" name="day">2nd</option>
                    <option value="3" name="day">3rd</option>
                    <option value="4" name="day">4th</option>
                    <option value="5" name="day">5th</option>
                    <option value="6" name="day">6th</option>
                    <option value="7" name="day">7th</option>
                    <option value="8" name="day">8th</option>
                    <option value="9" name="day">9th</option>
                    <option value="10" name="day">10th</option>
                    <option value="11" name="day">11th</option>
                    <option value="12" name="day">12th</option>
                    <option value="13" name="day">13th</option>
                    <option value="14" name="day">14th</option>
                    <option value="15" name="day">15th</option>
                    <option value="16" name="day">16th</option>
                    <option value="17" name="day">17th</option>
                    <option value="18" name="day">18th</option>
                    <option value="19" name="day">19th</option>
                    <option value="20" name="day">20th</option>
                    <option value="21" name="day">21st</option>
                    <option value="22" name="day">22nd</option>
                    <option value="23" name="day">23rd</option>
                    <option value="24" name="day">24th</option>
                    <option value="25" name="day">25th</option>
                    <option value="26" name="day">26th</option>
                    <option value="27" name="day">27th</option>
                    <option value="28" name="day">28th</option>
                    <option value="29" name="day">29th</option>
                    <option value="30" name="day">30th</option>
                    <option value="31" name="day">31st</option>
                </select>
                <br>
    <button type = "submit" a class="waves-effect waves-light btn">Submit!</a>
         </div>
            <div class="card-action">
            </div>
          </div>
        </div>
      </div>
</body>
</html>